/* Navigation */

.small-navigation {
  display: none;
}

.navigation-close {
  display: none;
}

.main-navigation {
  background-color: #fff;
  width: 100%;
  margin: 0;
  top: 0;
  border-bottom: solid 2px #be2428;
  position: fixed;
  z-index: 99999;
}

.nav-link-set {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-links-right {
  padding-top: 20px;
  text-align: right;
}

.nav-link-set li {
  padding-top: 5px;
}

.main-navigation ul {
  margin: 0;
}

.main-navigation li {
  display: inline-block;
  text-decoration: none;
}

.nav-link {
  font-family: 'mission_gothicregular';
  font-size: 1rem;
  margin-right: 30px;
  color: #000;
  text-decoration: none;
}

.rubyconf-logo {
  width: 150px;
  margin-right: 10px;
}

.twitter-logo {
  width: 30px;
  margin-right: 10px;
}

.main-navigation .main-button {
  /*margin-right: 25px;*/
}

@media (max-width: 1150px) {
  body {
    padding-top: 78px;
  }

  .small-navigation {
    display: block;
    background-color: #fff;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0px;
    border-bottom: solid 2px #be2428;
    padding: 25px;
    position: fixed;
    z-index: 99999;
  }

  .navigation-close {
    display: block;
    float: right;
  }

  .small-navigation .navigation-toggle {
    float: right;
  }

  .main-navigation {
    -webkit-transition: transform .3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: transform .3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform .3s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    color: tomato !important;
    right: 0px;
    top: 0px;
    height: 100%;
  }

  .main-navigation.open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }

  .main-navigation li {
    display: block;
    clear: both;
    width: 100%;
  }

  .main-navigation img {
    display: none;
  }
}


/* Countdown Section */

.countdown-section {
  background-color: #be2428;
  color: #fff;
  text-align: center;
  background-image: url('../img/abstract-pattern.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.countdown-section h4 {
  color: #fff;
  font-size: 1.75rem;
  vertical-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

time div {
  font-family: 'mission_gothiclight';
  font-size: 60px;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  width: 96px;
}

time div:last-child {
  margin-right: 0;
}

.time-box {
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,
  rgba(255,255,255,1) 49%,
  rgba(255,255,255,1) 49%,
  rgba(232,232,232,1) 49%,
  rgba(219,219,219,1) 49%,
  rgba(244,244,244,1) 50%,
  rgba(244,244,244,1) 100%); /* W3C */
  color: #2c3688;
  border-radius: 6px;
  margin-bottom: 20px;
}


/* San Antonio Section */

.sanantonio-section {
  background-image: url('../img/sa-getty.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.info-box {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-box h2 {
  margin-bottom: 0;
}

.info-box h4 {
  margin-bottom: 20px;
}

.info-box p {
  margin-bottom: 0;
}


/* Map Section */

.map-section {
  background-color: #2c3688;
}

#map-canvas {
  width: 100%;
  height: 520px;
}


/* Sponsor Section */

.sponsor-section h2 {
  margin-bottom: 30px;
}

.sponsor-logo {
  padding: 60px;
}

.sponsor-logo-small {
  padding: 60px 40px;
}

.banner-ad {
  width: 728px;
  border: solid 2px #cccccc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}


/* Footer */

footer {
  background-color: #be2428;
  color: #fff;
  position: relative;
  background-image: url('../img/texas-illus.png');
  background-size: 30%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

footer:before {
  background: linear-gradient(-45deg, #ffffff 8px, transparent 0), linear-gradient(45deg, #ffffff 8px, transparent 0);
  background-repeat: repeat-x;
  background-size: 16px 16px;
  content: " ";
  display: block;
  height: 16px;
  transform: rotateX(-180deg);
}

.rc-logo {
  width: 100px;
  margin-bottom: 20px;
}

footer p {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

footer h5 {
  font-family: 'MenschRegular';
  font-size: .85rem;
  color: #cccccc;
}
