/* Main Marquee */

.main-marquee {
  background-color: #be2428;
  color: #fff;
  background-image: url('../img/rubyconf-pattern.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ruby-boot {
  width: 480px;
  text-align: center;
}

.main-marquee h1 {
  color: #fff;
  line-height: 7.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.texas-icon {
  display: inline-block;
  vertical-align: top;
  width: 86px;
  margin-right: 20px;
}

.address-text {
  display: inline-block;
  margin-bottom: 40px;
}

.main-marquee h5 {
  font-family: 'mission_gothicbold';
  font-size: 1.325rem;
  color: #fff;
  margin-bottom: 0;
}

.main-marquee h6 {
  font-family: 'mission_gothicregular';
  font-size: 1.125rem;
  color: #fff;
  margin-bottom: 10px;
}

.main-marquee h2 {
  font-family: 'mission_gothiclight';
  font-size: 1.25rem;
  color: #fff;
  line-height: 2rem;
  padding-right: 85px;
}


/* Participate Section */

.participate-section {
  background-color: #cccccc;
}

.participate-section .main-button {
  margin-right: 20px;
}

.participate-section .main-button:last-child {
  margin-right: 0;
}


/* News Section */

.news-section {
  background-color: #d1e6f0;
}

.news-section .text-cta {
  text-align: right;
}

.news-card {
  background-color: #fff;
  width: 32%;
  margin-right: 2%;
  padding: 46px;
  text-align: center;
}

.news-card:last-child {
  margin-right: 0;
}

.news-card h6 {
  margin-bottom: 20px;
}

.news-card h4 {
  color: #be2428;
}

.news-card h4::after {
  content: "";
  height: 2px;
  width: 35px;
  background-color: #be2428;
  display: block;
  margin: 10px auto 20px auto;
}


/* Speaker Section */

.speaker-section .text-cta {
  text-align: right;
}

.speaker-block {
  position: relative;
  display: block;
}

.speaker-block > img {
  width: 100%;
}

.speaker-overlay {
  position: absolute;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  opacity: 0;
  background-color: rgba(44, 54, 136, .85);
  -webkit-transition: opacity .3s; /* Safari */
  transition: opacity .3s;
}

.speaker-overlay h4, h5 {
  color: #fff;
}

.speaker-overlay h5 {
  font-size: 2.25rem;
}

.speaker-overlay h4 {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.speaker-block:hover .speaker-overlay {
  opacity: 1;
}


/* Facts Section */

.facts-section {
  background-color: #2c3688;
  color: #fff;
}

.fact-illustration {
  width: 320px;
  margin-bottom: 30px;
  transform: rotateY(0deg);
  transition: all .3s ease-in-out;
}

.fact-illustration:hover {
  transform: rotateY(-180deg);
}

.facts-section span {
  font-family: 'mission_gothiclight';
  margin-left: -10px;
  margin-right: -10px;
}

.facts-section h5 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


/* Policy Section */

.policy-section {
  background-color: #cccccc;
}
.policy-section p {
  margin-bottom: 0;
}


/* ========== Media Queries ========== */

@media only screen and (max-width: 1150px) {

  .row {
    max-width: 90%;
  }

  .section-pad {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* Main Marquee (1024px) */

  .main-marquee .ruby-boot {
    display: none;
  }

  /* News Section (1024px) */

  .news-card {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 640px) {

  /* Main Marquee (640px) */

  .main-marquee h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .main-marquee h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }

  .main-marquee p {
    font-size: 1.3125rem;
  }

  .texas-icon {
    padding-bottom: 20px;
  }

  .main-marquee .address-text {
    margin-bottom: 20px;
  }

  .main-marquee p {
    padding-right: 0;
  }

  /* Participate Section (640px) */

  .participate-section h4 {
    margin-bottom: 30px;
  }

  .participate-section .main-button {
    margin-bottom: 20px;
  }

  /* News Section (640px) */

  .news-section h2 {
    margin-bottom: 0;
  }

  .news-section .text-cta {
    text-align: left;
    margin-bottom: 20px;
  }

  /* Speaker Section (640px) */

  .speaker-section h2 {
    margin-bottom: 0;
  }

  .speaker-section .text-cta {
    text-align: left;
    margin-bottom: 20px;
  }

  .speaker-image {
    width: 100%;
  }

  /* Facts Section (640px) */

  .facts-section article {
    margin-bottom: 30px;
  }

  .facts-section article:last-child {
    margin-bottom: 0;
  }

  .fact-illustration {
    width: 240px;
  }
}
