/* Main Marquee */

.main-marquee {
  background-color: #be2428;
  color: #fff;
  background-image: url('../img/rubyconf-pattern.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ruby-boot {
  width: 375px;
}

.main-marquee h1 {
  color: #fff;
  line-height: 7.25rem;
}

.texas-icon {
  display: inline-block;
  vertical-align: top;
  width: 86px;
  margin-right: 20px;
}

.address-text {
  display: inline-block;
  margin-top: 10px;
}

.main-marquee h5 {
  font-family: 'mission_gothicbold';
  font-size: 1.325rem;
  color: #fff;
}

.main-marquee h6 {
  font-family: 'mission_gothicregular';
  font-size: 1.125rem;
  color: #fff;
}

.main-marquee h2 {
  font-family: 'mission_gothiclight';
  font-size: 1.25rem;
  color: #fff;
  line-height: 2rem;
  padding-right: 85px;
}

@media (max-width: 930px) {
  .ruby-boot {
    display: none;
  }
  .main-text-block {
    width: 100%;
  }
}

@media (max-width: 400px) {

  .main-marquee h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .texas-icon {
    display: none;
  }

  .main-marquee h5 {
    font-size: 1rem;
  }

  .main-marquee h2 {
    padding-right: 0;
  }
}

/* News Section */

.news-section {
  background-color: #d1e6f0;
}

.news-section .text-cta {
  text-align: right;
}

.news-card {
  background-color: #fff;
  width: 32%;
  margin-right: 2%;
  padding: 46px;
  text-align: center;
}

.news-card:last-child {
  margin-right: 0;
}

.news-card h6 {
  margin-bottom: 20px;
}

.news-card h4 {
  font-family: 'Haymaker';
  color: #be2428;
}

.news-card h4::after {
  content: "";
  height: 2px;
  width: 35px;
  background-color: #be2428;
  display: block;
  margin: 10px auto 20px auto;
}

@media (max-width: 768px) {

  .news-card {
    width: 100%;
    display: block;
    padding: 24px;
    margin-bottom: 20px;
  }

  .news-card h6 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* Speaker Section */

.cowboy-icon {
  width: 120px;
  display: block;
  margin: 20px auto;
}

.speaker-block h5 {
  color: #2c3688;
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
}

@media (max-width: 400px) {

  .speaker-block {
    margin-bottom: 20px;
  }
}

/* Policy Section */

.policy-block {
  background-color: #d1e6f0;
  padding: 40px 340px 40px 40px;
  width: 100%;
}

@media (max-width: 1024px) {

  .policy-block {
    padding: 30px;
  }
}
