/* Secondary Pages */

.paragraph-block {
  margin-bottom: 40px;
}

.secondary-marquee {
  background-color: #be2428;
  color: #fff;
  background-image: url('../img/illustration-pattern.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.secondary-marquee h1 {
  color: #fff;
}

.info-section span {
  font-family: 'Haymaker';
  color: #be2428;
  font-size: 2rem;
}

@media (max-width: 1024px) {

  h1 {
    font-size: 4rem;
    line-height: 4.25rem;
  }

  .text-wrapper {
    padding-right: 100px;
  }
}

@media (max-width: 768px) {

  .text-wrapper {
    padding-right: 0;
  }

  .intro-text {
    padding-right: 1.5rem;
  }
}

@media (max-width: 400px) {

  h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .info-section h2 {
    margin-bottom: 20px;
  }
}

/* Program */

.program-info h5 {
  font-size: 1.75rem;
  color: #000;
  margin-bottom: 5px;
}

.program-info h2 {
  font-family: 'Haymaker';
  font-size: 2.5rem;
}

.program-info h3 {
  font-size: 1.25rem;
}

.speaker-photo-small {
  width: 100px;
  margin-bottom: 20px;
}

.speaker-info h6 {
  font-family: 'mission_gothicregular';
  font-size: 1rem;
  line-height: 1.75rem;
}

.speaker-info p {
  font-size: .9rem;
  line-height: 1.5rem;
}

.speaker-info h6 {
  font-family: 'mission_gothiclight';
  font-size: 1.25rem;
}

@media (max-width: 1024px) {

  .program-info h3 {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {

  .program-wrapper {
    padding-right: 0;
  }

  .program-info h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .program-info h3 {
    margin-bottom: 30px;
  }
}

/* Schedule */

#schedule-nav {
  margin: 0;
}

#schedule-nav li {
  display: inline-block;
}

.monday-data, .tuesday-data {
  display: none;
}

.schedule-row {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.schedule-row h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 10px;
}

.schedule-row h4 {
  font-family: 'mission_gothiclight';
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: dotted 1px gray;
}

.schedule-row h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {

  .speaker-row-4 p {
    margin-bottom: 30px;
  }
}

/* Location */

.location-image {
  width: 100%;
}

.riverwalk-section {
  background-image: url('../img/riverwalk-night.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 450px;
}

.facts-section {
  background-color: #2c3688;
  color: #fff;
}

.fact-illustration {
  width: 300px;
  margin-bottom: 30px;
  transform: rotateY(0deg);
  transition: all .3s ease-in-out;
}

.fact-illustration:hover {
  transform: rotateY(-180deg);
}

.facts-section span {
  font-family: 'mission_gothiclight';
  margin-left: -10px;
  margin-right: -10px;
}

.facts-section h5 {
  font-size: 2.25rem;
}

@media (max-width: 1024px) {

  .location-image {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {

  .location-image {
    margin-top: 10px;
  }

  .fact-illustration {
    width: 150px;
    margin-bottom: 20px;
  }

  .facts-section p {
    margin-bottom: 30px;
  }

  .fact-block-3 p {
    margin-bottom: 0;
  }
}

/* Scholarships */

.long-heading-small {
  display: none;
}

.signup-block {
  padding: 40px;
}

.signup-block h6 {
  font-size: 1.85rem;
  line-height: 2.5rem;
}

.info-section li {
  font-family: 'mission_gothiclight';
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {

  .signup-block {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {

  .long-heading-small {
    display: block;
  }

  .long-heading-large {
    display: none;
  }
}

/* Sponsors */

.sponsor-star {
  width: 204px;
}

.ruby-star {
  width: 70px;
  margin: 0 20px 12px 20px;
}

.supporter-links li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {

  .sponsor-star {
    display: none;
  }
}

@media (max-width: 400px) {

  .ruby-star {
    display: none;
  }
}

/* About */

.ruby-icon {
  width: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.conf-year {
  color: #71c0e8;
  padding: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.conf-year:hover {
  background-color: #2c3688;
}

.conf-year p {
  font-family: 'Haymaker';
  font-size: 3rem;
  margin-bottom: 20px;
}

.conf-year h3 {
  font-size: 1rem;
}

.conf-year:last-child {
  margin-right: 0;
}

.committee-section img {
  width: 100%;
}

.committee-section h5 {
  font-size: 1.25rem;
  text-align: center;
}

.rc-logo-large {
  width: 140px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {

  .ruby-icon {
    display: none;
  }
}

@media (max-width: 400px) {

  .ruby-icon {
    display: none;
  }

  .conf-year {
    padding: 20px;
  }

  .conf-year p {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .conf-year h3 {
    font-size: .5rem;
  }

  .rc-logo-large {
    width: 100px;
    display: block;
    margin: 0 auto 20px auto;
  }
}

/* Registration */

.register-block {
  padding: 40px 40px 45px 40px;
}

.register-block h6 {
  font-size: 1.875rem;
}

@media (max-width: 1024px) {

  .register-block {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {

  .callout-large {
    font-size: 1.25rem;
  }

  .register-block {
    margin-top: 10px;
  }
}
