/* Secondary Pages */

.paragraph-block {
  margin-bottom: 30px;
}

.secondary-marquee {
  background-color: #be2428;
  color: #fff;
  background-image: url('../img/illustration-pattern.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.secondary-marquee h1 {
  color: #fff;
}

.info-section span {
  font-family: 'Haymaker';
  color: #be2428;
  font-size: 2rem;
}

/* Sponsors */

.sponsor-star {
  width: 204px;
}

.ruby-star {
  width: 70px;
  margin: 0 20px;
}

.supporter-links li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Scholarships */

.signup-block h6 {
  font-size: 1.85rem;
  line-height: 2.5rem;
}

.info-section li {
  font-family: 'mission_gothiclight';
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 10px;
}

/* Registration */

.double-border {
  border-top: dotted 2px #be2428;
  border-bottom: dotted 2px #be2428;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.rc-shirts {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


/* Location */

.location-image {
  width: 100%;
}


/* Facts */

.facts-section {
  background-color: #2c3688;
  color: #fff;
}

.fact-illustration {
  width: 320px;
  margin-bottom: 30px;
  transform: rotateY(0deg);
  transition: all .3s ease-in-out;
}

.fact-illustration:hover {
  transform: rotateY(-180deg);
}

.facts-section span {
  font-family: 'mission_gothiclight';
  margin-left: -10px;
  margin-right: -10px;
}

.facts-section h5 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


/* About */

.ruby-icon {
  width: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.conf-year {
  color: #be2428;
  padding: 30px;
  margin-bottom: 10px;
  width: 24.25%;
  margin-right: 1%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.conf-year:hover {
  color: #fff;
  background-color: #be2428;
}

.conf-year p {
  font-family: 'Haymaker';
  font-size: 3rem;
}

.conf-year:last-child {
  margin-right: 0;
}

.rc-logo-large {
  width: 140px;
}






